@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --default-font-family-inter: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

@theme {
  --color-dark: #090d1f;
  --color-myprimary: #1a1a1a;
  --breakpoint-laptop: 90rem;
  --breakpoint-tablet: 52.125rem;
}

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .animate-slide-in {
    animation: slide-in 0.4s ease-out forwards;
  }

  .animate-slide-out {
    animation: slide-out 0.4s ease-in forwards;
  }
}
